<head>
<title>More info about our oil | COCOFINO | 100% pure coconut oil</title>
<meta desc="Get informed about all the products of our company">
<% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>


<!-- content-->


<% include ../partials/footer.ejs %>