<html>
<head>
<title>Contact details| COCOFINO | 100% pure coconut oil</title>
<meta desc="Contact details for COCO FINO. ">
<% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>
<div class="container">
	<div class="row">
           <div class="box">
                <div class="col-lg-12 text-center">
 					<p >KKR Extractions Pvt. Ltd. <br/>Kambli Chungam, Thekkedesam PO,<br/>Chitoor, Palakkad<br/>Tel: +91 492 328 30 25</p>
 				</div>
 			</div>
 	</div>
 		        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center"><strong>Contact
                        form</strong>
                    </h2>
                    <hr>
                    <p>Please fill the below details to get in touch with us</p>
                    <form action="/contact-form" method="POST">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label>Name</label>
                                <input name="name" type="text" class="form-control">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Email Address</label>
                                <input name="email" type="email" class="form-control">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Phone Number</label>
                                <input name= "mobile" type="tel" class="form-control">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-lg-12">
                                <label>Message</label>
                                <textarea name="message" class="form-control" rows="6"></textarea>
                            </div>
                            <div class="form-group col-lg-12">
                                <input type="hidden" name="save" value="contact">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
 </div>
 		
 <% include ../partials/footer.ejs %>