<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>COCOFINO | 100% pure coconut oil</title>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Taviraj" rel="stylesheet">
</script>
</head>
<body background= "/public/palm.png" style="font-family: 'Taviraj', serif;  background-size: 100% auto; background-repeat: no-repeat; background-color:#2882DE; ">

<div id="shim"></div>
<div id="content">
  <div class="logo_box" style="text-align:center; color:white;"><h1>COCOFINO, 100% Natural coconut oil</h1></div>          
  <div class="main_box">
    <h2 style="text-align:center; color:white;">Our website is coming soon.<br/><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><br/><span>In the mean time connect with us with the information below</span></h2>
    
    
        <!--<h3 style="text-align:center; color:white;">COCOFINO</h3> -->
        <p style="text-align:center; color:white;">KKR Extractions Pvt. Ltd. <br/>Kambli Chungam, Thekkedesam PO,<br/>Chitoor, Palakkad<br/>Tel: +91 492 328 30 25</p>




    </ul>
  </div>
</div>

</body>
</html>
