<head>
<title>More info about our oil | COCOFINO | 100% pure coconut oil</title>
<meta desc="Get informed about all the products of our company">
<% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>

<div class="container">
	<div class="row">
           <div class="box">
                <div class="col-lg-12">
					<h2>COCO FINO retail pack</h2>
					<p>We provide the oil in 1L bottle, packed in very hygenic enviornment to make sure that the oil does not get contaminated. Eventhough there is no actual expiry date for the oil it is better to use it from 6 mpnths of manufacture</p>
 				</div>
 			</div>
 	</div>

	<div class="row">
           <div class="box">
                <div class="col-lg-12">
					<h2>COCO FINO wholesale 5 gallon bottle </h2>
					<p> A 5 gallon bottle can be delivered for wholesale needs. This is suitable for restaurants, bakeries and similar industries. This packed in hygenic enviornment and the quality of the oil is kept as strict as possible. For ordering in bulk please <a href="/contact">contact us</a></p>
 				</div>
 			</div>
 	</div>
</div>



<% include ../partials/footer.ejs %>